.showpost{
    padding:1em 6em;

    .postlist{
        a{
           h3{
               font-size:20px;
           }
        }

        p{
            font-size:15px;
        }


    }
}

.pagination{
    padding:0em 6em;
}